In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('/content/auto-mpg.csv')

In [3]:
print(df.shape)

(398, 9)

In [4]:
print(df.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model year  \
0  18.0          8         307.0        130    3504          12.0          70
1  15.0          8         350.0        165    3693          11.5          70
2  18.0          8         318.0        150    3436          11.0          70
3  16.0          8         304.0        150    3433          12.0          70
4  17.0          8         302.0        140    3449          10.5          70

   origin                   car name
0       1  chevrolet chevelle malibu
1       1          buick skylark 320
2       1         plymouth satellite
3       1              amc rebel sst
4       1                ford torino

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB
None

In [6]:
df['horsepower']=pd.to_numeric(df['horsepower'],errors='coerce')

In [7]:
missing_hp=df['horsepower'].isna().sum()
total=len(df)
print(f"horse power missing after conversion :{missing_hp}/ {total}")

horse power missing after conversion :6/ 398

In [8]:
df["horsepower"].fillna(df["horsepower"].mean(),inplace=True)

/tmp/ipython-input-810759998.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["horsepower"].fillna(df["horsepower"].mean(),inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(4), int64(4), object(1)
memory usage: 28.1+ KB

In [10]:
hp_array =df["horsepower"].values
print("Type",type(hp_array))

Type <class 'numpy.ndarray'>

In [11]:
print("Mean",np.mean(hp_array))

Mean 104.46938775510203

In [12]:
print("Median",np.median(hp_array))

Median 95.0

In [13]:
print("Std Dev",np.std(hp_array))

Std Dev 38.15116826300097

In [14]:
print("Min",np.min(hp_array))

Min 46.0

In [15]:
print("Max",np.max(hp_array))

Max 230.0

In [16]:
print("First 10 values",hp_array[:10])

First 10 values [130. 165. 150. 150. 140. 198. 220. 215. 225. 190.]

In [17]:
print("Every secodn value up to 20",hp_array[:20:2])

Every secodn value up to 20 [130. 150. 140. 220. 225. 170. 150.  95.  97.  88.]

In [18]:
arr2 =df[['mpg','horsepower']].values
print("Column mean",np.mean(arr2, axis=0))
print("\nRow mean, first 5 rows",np.mean(arr2[:5],axis=1))

Column mean [ 23.51457286 104.46938776]

Row mean, first 5 rows [74.  90.  84.  83.  78.5]

In [19]:
max_hp=hp_array.max()
print(max_hp)

230.0

In [20]:
high_hp_cars =df[df["horsepower"]==max_hp]
print(high_hp_cars[['car name','horsepower']])

               car name  horsepower
116  pontiac grand prix       230.0

In [21]:
top5 =df[['car name','horsepower']].sort_values(by='horsepower',ascending=False).head(5)
print("Top 5 cars with highest horsepower :\n",top5)

Top 5 cars with highest horsepower :
                      car name  horsepower
116        pontiac grand prix       230.0
8            pontiac catalina       225.0
13    buick estate wagon (sw)       225.0
95   buick electra 225 custom       225.0
6            chevrolet impala       220.0